# Local build binaries
peer/peer
node-cli/node-cli
*.pyc
/build/_workspace
/bin
.idea
*.iml
.DS_Store
tags
.tags
.vagrant/
membersrvc/membersrvc
devenv/baseimage/Dockerfile
# Emacs backup files
*~
*#
.#*
# bddtest log files
*.log
# Eclipse config files
/.project
